@page "/select_device"
@using Quasar.Core.Native.Bluetooth
@using Quasar.Core.Native
@using IDevice = Plugin.BluetoothLE.IDevice

@inject BleConnectionManager ConnectionManager

<div class="shadow" style="background-color: rgb(41, 44, 47); padding: 10px;">
    <h4 style="color: white;margin-left: 10px;">Select your device:
        <span>
            <i @onclick="OnScanBtnClicked" class="btn fa fa-search" href="#" style="color: rgb(249, 178, 51); float: right; margin-right: 15px;"/>
        </span>
        </h4>
</div>
@foreach (var device in _devices)
{
    <DeviceFoundSection Device="device" />
}

@code {

    private List<IDevice> _devices = new List<IDevice>();

    protected override void OnInitialized()
    {

    }


    private void OnScanBtnClicked()
    {
        ConnectionManager.CompatibleDeviceFound += (sender, device) =>
        {
            _devices.Add(device);
            StateHasChanged();
        };

        ConnectionManager.StartScan();
    }
}
