<div class="dark-section">
    <div class="container site-section" id="features">
        <h1>The Quasar project features</h1>
        <div class="row">
            <div class="col-4"><i class="icon ion-android-hand"></i>
                <h3>Gestures</h3>
                <p>Born in 2021 the Gen 1 Quasar device delivers to it's users the ability to send commands to their smart wearable using only their hand! No more wasted time in trying to navigate to the correct view and selecting a function to execute - one gesture results in a completed task. </p>
            </div>
            <div class="col-4"><i class="material-icons" style="font-size: 43px">battery_charging_full</i>
                <h4>Power</h4>
                <p>Born in 2021 the Gen 1 Quasar device delivers to it's users the ability to send commands to their smart wearable using only their hand! No more wasted time in trying to navigate to the correct view and selecting a function to execute - one gesture results in a completed task. </p>
            </div>
            <div class="col-4"><i class="icon ion-paintbrush"></i>
                <h3>Customizability</h3>
                <p>Born in 2021 the Gen 1 Quasar device delivers to it's users the ability to send commands to their smart wearable using only their hand! No more wasted time in trying to navigate to the correct view and selecting a function to execute - one gesture results in a completed task. </p>
            </div>
        </div>
    </div>
</div>

@code {

}
