<div class="container site-section" id="gallery">
    <h1 class="text-center">Gallery</h1>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img class="card-img-top w-100 d-block" src="/img/argon.jpg"/>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img class="card-img-top w-100 d-block" src="/img/argon.jpg"/>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top w-100 d-block" src="/img/argon.jpg"/>
            </div>
        </div>
    </div>
</div>

@code {

}
