
<div id="diff">
    <div class="jumbotron diff-jumbotron">
        <h1>New generation of smart wearables</h1>
        <p>The Quasar project is here to completely remove touchscreen from the equation of smart wearable devices.</p>
        <p><a class="btn btn-primary btn-lg" style="background-color: rgb(41, 44, 47); color: white" role="button"
              href="#interaction">Learn more</a></p>
    </div>
</div>

@code {
}