<div class="shadow-lg" style="background-color: white ;position: fixed;bottom: 0;width: 100%;/*text-align: center;*//*align-items: start;*/">
    <div class="container" style="text-align: center;padding: 20px;">
        <div class="row">
            <div class="col-4"><a class="btn mobile-nav-link" href="#"><span><i class="fa fa-home mobile-nav-icon"></i></span>Home</a></div>
            <div class="col-4"><a class="btn mobile-nav-link" href="#"><span><i class="icon ion-erlenmeyer-flask-bubbles mobile-nav-icon"></i></span>Lab</a></div>
            <div class="col-4"><a class="btn mobile-nav-link" href="#"><span><i class="fa fa-user mobile-nav-icon"></i></span>Profile</a></div>
        </div>
    </div>
</div>

@code {
    
}