<footer>
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3  style="font-weight: 100;"><a class="navbar-brand" href="#" style="font-family: ABeeZee, sans-serif;">Quasar<span>&nbsp;
                    <img class="img-fluid quasar-icon" src="/img/quasar(1).svg"></span> 
            </a></h3>
            <p class="links"><a href="#">Home</a><strong>&nbsp;· </strong><a href="#">Lab</a><strong> · </strong><a href="#">About</a><strong>&nbsp;</strong></p>
            <p class="company-name">Quasar © 2021</p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                <p>Plovdiv, Bulgaria</p>
            </div>
            <div><i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-left"> +359 8888888888</p>
            </div>
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <p> <a href="#" target="_blank">quasarsupport@gmail.com</a></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
            <h4 class="about-the-company">About the author</h4>
            <p>My name is Stanimir Kolev and I have been a software developer for five years. Check me out on social media!</p>
            <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
        </div>
    </div>
</footer>

@code {

}
