@page "/"
@namespace Quasar.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quasar.Server</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">

    <link href="_content/Quasar.Hybrid.Shared/css/styles.css" rel="stylesheet" />
    <link href="_content/Quasar.Hybrid.Shared/css/Pretty-Header.css" rel="stylesheet" />
    <link href="_content/Quasar.Hybrid.Shared/css/Pretty-Footer.css" rel="stylesheet" />
    <link href="_content/Quasar.Hybrid.Shared/fonts/ionicons.min.css" rel="stylesheet" />
    <link href="_content/Quasar.Hybrid.Shared/fonts/material-icons.min.css" rel="stylesheet" />
    <link href="_content/Quasar.Hybrid.Shared/fonts/font-awesome.min.css" rel="stylesheet" />




</head>
<body>
<app>
    <component type="typeof(App)" render-mode="ServerPrerendered"/>
</app>

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="_framework/blazor.server.js"></script>
<script type="text/javascript" src="_content/Quasar.Hybrid.Shared/js/jquery.min.js"></script>
<script type="text/javascript" src="_content/Quasar.Hybrid.Shared/js/bootstrap.min.js"></script>
<script type="text/javascript" src="_content/Quasar.Hybrid.Shared/js/chart.min.js"></script>
<script type="text/javascript" src="_content/Quasar.Hybrid.Shared/js/bs-init.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/snap.svg/0.1.0/snap.svg-min.js"></script>
</body>
</html>
