@using Quasar.Core.Native
@using Quasar.Core
@using Quasar.Core.Native.Bluetooth

<div class="row">
    <div class="col-12" style="margin-top: 25px;">
        <div class="container device-found-div shadow" style="margin-top: 25px;min-height: 220px;">
            <h1 class="found-device-name">Name</h1>
            <p class="found-device-mac">00:00:00:00:00</p>
            <div class="row">
                <div class="col-1">
                    <i class="material-icons" style="font-size: 28px;">battery_charging_full</i>
                </div>
                <div class="col">
                    <p style="margin-left: -5px;margin-top: 10px;">100%</p>
                </div>
            </div><a class="btn" href="#" style="float: right;margin-right: 10px;background-color: rgb(249,178,51);">Manage</a>
        </div>
    </div>
    
</div>

@code {
    [Parameter]
    public IDevice Device { get; set; }
}
