<!-- TODO: Display all devices-->

<DeviceOwnedSection/>

<div class="row">
    <div class="col" style="text-align: center;"><a class="btn" href="/select_device" style="margin-top: 10px;">Add new device</a></div>
</div>

@code {
    
}