<div class="container site-section" id="interaction">
    <h1>Human - device interaction</h1>
    <p>Born in 2021 the Gen 1 Quasar device delivers to it's users the ability to send commands to their smart wearable using only their hand! No more wasted time in trying to navigate to the correct view and selecting a function to execute - one gesture
        results in a completed task.&nbsp;</p>
</div>

@code {

}
