@using Quasar.Core.Native
@using IDevice = Plugin.BluetoothLE.IDevice
@using Quasar.Core
@using Quasar.Core.Native.Bluetooth

@inject BleConnectionManager ConnectionManager

<div class="row">
    <div class="col-12">
        <div class="shadow" style="min-height: 165px;margin-top: 25px;">
            <h1 class="found-device-name">Gen1Watch</h1>
            <p class="found-device-mac">@Device.Uuid.ToMacString()</p>
            <a @onclick="OnConnectBtnClicked" class="btn" style="float: right; margin-right: 15px; margin-bottom: 15px; background-color: rgb(249,178,51);">Connect</a>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public IDevice Device { get; set; }

    private void OnConnectBtnClicked()
    {
        IDeviceFactory factory = new WatchDeviceFactory();
        var device = factory.CreateDevice<DeviceGeneration1>(ConnectionManager, Device);
    }
}
